nifi_api_test.ipynb
{
 "cells": [
  {
   "cell_type": "code",
   "execution_count": 43,
   "metadata": {
    "collapsed": false
   },
   "outputs": [],
   "source": [
    "import json\n",
    "import requests"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 44,
   "metadata": {
    "collapsed": true
   },
   "outputs": [],
   "source": [
    "nifi_url = \"http://sandbox.hortonworks.com:9090/nifi-api\""
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "## get process group"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 80,
   "metadata": {
    "collapsed": false
   },
   "outputs": [
    {
     "data": {
      "text/plain": [
       "{u'permissions': {u'canRead': True, u'canWrite': True},\n",
       " u'processGroupFlow': {u'breadcrumb': {u'breadcrumb': {u'id': u'2b3f0525-0158-1000-fe2d-3dddf435a35f',\n",
       "    u'name': u'itg7198'},\n",
       "   u'id': u'2b3f0525-0158-1000-fe2d-3dddf435a35f',\n",
       "   u'parentBreadcrumb': {u'breadcrumb': {u'id': u'7c84501d-d10c-407c-b9f3-1d80e38fe36a',\n",
       "     u'name': u'NiFi Flow'},\n",
       "    u'id': u'7c84501d-d10c-407c-b9f3-1d80e38fe36a',\n",
       "    u'permissions': {u'canRead': True, u'canWrite': True}},\n",
       "   u'permissions': {u'canRead': True, u'canWrite': True}},\n",
       "  u'flow': {u'connections': [{u'bends': [],\n",
       "     u'component': {u'availableRelationships': [u'comms.failure',\n",
       "       u'not.found',\n",
       "       u'permission.denied',\n",
       "       u'success'],\n",
       "      u'backPressureDataSizeThreshold': u'1 GB',\n",
       "      u'backPressureObjectThreshold': 10000,\n",
       "      u'bends': [],\n",
       "      u'destination': {u'comments': u'',\n",
       "       u'groupId': u'2b3f0525-0158-1000-fe2d-3dddf435a35f',\n",
       "       u'id': u'2b442646-0158-1000-2b97-6c6294fe4d79',\n",
       "       u'name': u'SplitXml',\n",
       "       u'running': False,\n",
       "       u'type': u'PROCESSOR'},\n",
       "      u'flowFileExpiration': u'0 sec',\n",
       "      u'id': u'2b443947-0158-1000-85d7-5a9d587a7769',\n",
       "      u'labelIndex': 1,\n",
       "      u'name': u'',\n",
       "      u'parentGroupId': u'2b3f0525-0158-1000-fe2d-3dddf435a35f',\n",
       "      u'prioritizers': [],\n",
       "      u'selectedRelationships': [u'success'],\n",
       "      u'source': {u'comments': u'',\n",
       "       u'groupId': u'2b3f0525-0158-1000-fe2d-3dddf435a35f',\n",
       "       u'id': u'2b41bf35-0158-1000-440a-ab9f0f8925b3',\n",
       "       u'name': u'FetchSFTP',\n",
       "       u'running': False,\n",
       "       u'type': u'PROCESSOR'},\n",
       "      u'zIndex': 0},\n",
       "     u'destinationGroupId': u'2b3f0525-0158-1000-fe2d-3dddf435a35f',\n",
       "     u'destinationId': u'2b442646-0158-1000-2b97-6c6294fe4d79',\n",
       "     u'destinationType': u'PROCESSOR',\n",
       "     u'id': u'2b443947-0158-1000-85d7-5a9d587a7769',\n",
       "     u'labelIndex': 1,\n",
       "     u'permissions': {u'canRead': True, u'canWrite': True},\n",
       "     u'revision': {u'clientId': u'2b3eb487-0158-1000-3705-3f5ce2641209',\n",
       "      u'version': 1},\n",
       "     u'sourceGroupId': u'2b3f0525-0158-1000-fe2d-3dddf435a35f',\n",
       "     u'sourceId': u'2b41bf35-0158-1000-440a-ab9f0f8925b3',\n",
       "     u'sourceType': u'PROCESSOR',\n",
       "     u'status': {u'aggregateSnapshot': {u'bytesIn': 0,\n",
       "       u'bytesOut': 0,\n",
       "       u'bytesQueued': 0,\n",
       "       u'destinationName': u'SplitXml',\n",
       "       u'flowFilesIn': 0,\n",
       "       u'flowFilesOut': 0,\n",
       "       u'flowFilesQueued': 0,\n",
       "       u'groupId': u'2b3f0525-0158-1000-fe2d-3dddf435a35f',\n",
       "       u'id': u'2b443947-0158-1000-85d7-5a9d587a7769',\n",
       "       u'input': u'0 (0 bytes)',\n",
       "       u'name': u'success',\n",
       "       u'output': u'0 (0 bytes)',\n",
       "       u'queued': u'0 (0 bytes)',\n",
       "       u'queuedCount': u'0',\n",
       "       u'queuedSize': u'0 bytes',\n",
       "       u'sourceName': u'FetchSFTP'},\n",
       "      u'destinationId': u'2b442646-0158-1000-2b97-6c6294fe4d79',\n",
       "      u'destinationName': u'SplitXml',\n",
       "      u'groupId': u'2b3f0525-0158-1000-fe2d-3dddf435a35f',\n",
       "      u'id': u'2b443947-0158-1000-85d7-5a9d587a7769',\n",
       "      u'name': u'success',\n",
       "      u'sourceId': u'2b41bf35-0158-1000-440a-ab9f0f8925b3',\n",
       "      u'sourceName': u'FetchSFTP',\n",
       "      u'statsLastRefreshed': u'18:55:20 UTC'},\n",
       "     u'uri': u'http://sandbox.hortonworks.com:9090/nifi-api/connections/2b443947-0158-1000-85d7-5a9d587a7769',\n",
       "     u'zIndex': 0},\n",
       "    {u'bends': [],\n",
       "     u'component': {u'availableRelationships': [u'failure',\n",
       "       u'original',\n",
       "       u'split'],\n",
       "      u'backPressureDataSizeThreshold': u'1 GB',\n",
       "      u'backPressureObjectThreshold': 10000,\n",
       "      u'bends': [],\n",
       "      u'destination': {u'comments': u'',\n",
       "       u'groupId': u'2b3f0525-0158-1000-fe2d-3dddf435a35f',\n",
       "       u'id': u'2b447525-0158-1000-1b05-4ea4387ecf29',\n",
       "       u'name': u'PutHDFS',\n",
       "       u'running': False,\n",
       "       u'type': u'PROCESSOR'},\n",
       "      u'flowFileExpiration': u'0 sec',\n",
       "      u'id': u'2b4488e7-0158-1000-96e0-86ad3b8a9ba4',\n",
       "      u'labelIndex': 1,\n",
       "      u'name': u'',\n",
       "      u'parentGroupId': u'2b3f0525-0158-1000-fe2d-3dddf435a35f',\n",
       "      u'prioritizers': [],\n",
       "      u'selectedRelationships': [u'split'],\n",
       "      u'source': {u'comments': u'',\n",
       "       u'groupId': u'2b3f0525-0158-1000-fe2d-3dddf435a35f',\n",
       "       u'id': u'2b442646-0158-1000-2b97-6c6294fe4d79',\n",
       "       u'name': u'SplitXml',\n",
       "       u'running': False,\n",
       "       u'type': u'PROCESSOR'},\n",
       "      u'zIndex': 0},\n",
       "     u'destinationGroupId': u'2b3f0525-0158-1000-fe2d-3dddf435a35f',\n",
       "     u'destinationId': u'2b447525-0158-1000-1b05-4ea4387ecf29',\n",
       "     u'destinationType': u'PROCESSOR',\n",
       "     u'id': u'2b4488e7-0158-1000-96e0-86ad3b8a9ba4',\n",
       "     u'labelIndex': 1,\n",
       "     u'permissions': {u'canRead': True, u'canWrite': True},\n",
       "     u'revision': {u'clientId': u'2b3eb487-0158-1000-3705-3f5ce2641209',\n",
       "      u'version': 1},\n",
       "     u'sourceGroupId': u'2b3f0525-0158-1000-fe2d-3dddf435a35f',\n",
       "     u'sourceId': u'2b442646-0158-1000-2b97-6c6294fe4d79',\n",
       "     u'sourceType': u'PROCESSOR',\n",
       "     u'status': {u'aggregateSnapshot': {u'bytesIn': 0,\n",
       "       u'bytesOut': 0,\n",
       "       u'bytesQueued': 0,\n",
       "       u'destinationName': u'PutHDFS',\n",
       "       u'flowFilesIn': 0,\n",
       "       u'flowFilesOut': 0,\n",
       "       u'flowFilesQueued': 0,\n",
       "       u'groupId': u'2b3f0525-0158-1000-fe2d-3dddf435a35f',\n",
       "       u'id': u'2b4488e7-0158-1000-96e0-86ad3b8a9ba4',\n",
       "       u'input': u'0 (0 bytes)',\n",
       "       u'name': u'split',\n",
       "       u'output': u'0 (0 bytes)',\n",
       "       u'queued': u'0 (0 bytes)',\n",
       "       u'queuedCount': u'0',\n",
       "       u'queuedSize': u'0 bytes',\n",
       "       u'sourceName': u'SplitXml'},\n",
       "      u'destinationId': u'2b447525-0158-1000-1b05-4ea4387ecf29',\n",
       "      u'destinationName': u'PutHDFS',\n",
       "      u'groupId': u'2b3f0525-0158-1000-fe2d-3dddf435a35f',\n",
       "      u'id': u'2b4488e7-0158-1000-96e0-86ad3b8a9ba4',\n",
       "      u'name': u'split',\n",
       "      u'sourceId': u'2b442646-0158-1000-2b97-6c6294fe4d79',\n",
       "      u'sourceName': u'SplitXml',\n",
       "      u'statsLastRefreshed': u'18:55:20 UTC'},\n",
       "     u'uri': u'http://sandbox.hortonworks.com:9090/nifi-api/connections/2b4488e7-0158-1000-96e0-86ad3b8a9ba4',\n",
       "     u'zIndex': 0},\n",
       "    {u'bends': [],\n",
       "     u'component': {u'availableRelationships': [u'success'],\n",
       "      u'backPressureDataSizeThreshold': u'1 GB',\n",
       "      u'backPressureObjectThreshold': 10000,\n",
       "      u'bends': [],\n",
       "      u'destination': {u'comments': u'',\n",
       "       u'groupId': u'2b3f0525-0158-1000-fe2d-3dddf435a35f',\n",
       "       u'id': u'2b41bf35-0158-1000-440a-ab9f0f8925b3',\n",
       "       u'name': u'FetchSFTP',\n",
       "       u'running': False,\n",
       "       u'type': u'PROCESSOR'},\n",
       "      u'flowFileExpiration': u'0 sec',\n",
       "      u'id': u'2b41d467-0158-1000-1858-cbe6d6b35ccb',\n",
       "      u'labelIndex': 1,\n",
       "      u'name': u'',\n",
       "      u'parentGroupId': u'2b3f0525-0158-1000-fe2d-3dddf435a35f',\n",
       "      u'prioritizers': [],\n",
       "      u'selectedRelationships': [u'success'],\n",
       "      u'source': {u'comments': u'',\n",
       "       u'groupId': u'2b3f0525-0158-1000-fe2d-3dddf435a35f',\n",
       "       u'id': u'2b3ffbcf-0158-1000-ab42-2d1676264a9d',\n",
       "       u'name': u'ListSFTP',\n",
       "       u'running': False,\n",
       "       u'type': u'PROCESSOR'},\n",
       "      u'zIndex': 0},\n",
       "     u'destinationGroupId': u'2b3f0525-0158-1000-fe2d-3dddf435a35f',\n",
       "     u'destinationId': u'2b41bf35-0158-1000-440a-ab9f0f8925b3',\n",
       "     u'destinationType': u'PROCESSOR',\n",
       "     u'id': u'2b41d467-0158-1000-1858-cbe6d6b35ccb',\n",
       "     u'labelIndex': 1,\n",
       "     u'permissions': {u'canRead': True, u'canWrite': True},\n",
       "     u'revision': {u'clientId': u'2b3eb487-0158-1000-3705-3f5ce2641209',\n",
       "      u'version': 1},\n",
       "     u'sourceGroupId': u'2b3f0525-0158-1000-fe2d-3dddf435a35f',\n",
       "     u'sourceId': u'2b3ffbcf-0158-1000-ab42-2d1676264a9d',\n",
       "     u'sourceType': u'PROCESSOR',\n",
       "     u'status': {u'aggregateSnapshot': {u'bytesIn': 0,\n",
       "       u'bytesOut': 0,\n",
       "       u'bytesQueued': 0,\n",
       "       u'destinationName': u'FetchSFTP',\n",
       "       u'flowFilesIn': 0,\n",
       "       u'flowFilesOut': 0,\n",
       "       u'flowFilesQueued': 0,\n",
       "       u'groupId': u'2b3f0525-0158-1000-fe2d-3dddf435a35f',\n",
       "       u'id': u'2b41d467-0158-1000-1858-cbe6d6b35ccb',\n",
       "       u'input': u'0 (0 bytes)',\n",
       "       u'name': u'success',\n",
       "       u'output': u'0 (0 bytes)',\n",
       "       u'queued': u'0 (0 bytes)',\n",
       "       u'queuedCount': u'0',\n",
       "       u'queuedSize': u'0 bytes',\n",
       "       u'sourceName': u'ListSFTP'},\n",
       "      u'destinationId': u'2b41bf35-0158-1000-440a-ab9f0f8925b3',\n",
       "      u'destinationName': u'FetchSFTP',\n",
       "      u'groupId': u'2b3f0525-0158-1000-fe2d-3dddf435a35f',\n",
       "      u'id': u'2b41d467-0158-1000-1858-cbe6d6b35ccb',\n",
       "      u'name': u'success',\n",
       "      u'sourceId': u'2b3ffbcf-0158-1000-ab42-2d1676264a9d',\n",
       "      u'sourceName': u'ListSFTP',\n",
       "      u'statsLastRefreshed': u'18:55:20 UTC'},\n",
       "     u'uri': u'http://sandbox.hortonworks.com:9090/nifi-api/connections/2b41d467-0158-1000-1858-cbe6d6b35ccb',\n",
       "     u'zIndex': 0}],\n",
       "   u'funnels': [],\n",
       "   u'inputPorts': [],\n",
       "   u'labels': [],\n",
       "   u'outputPorts': [],\n",
       "   u'processGroups': [],\n",
       "   u'processors': [{u'bulletins': [],\n",
       "     u'component': {u'config': {u'bulletinLevel': u'WARN',\n",
       "       u'comments': u'',\n",
       "       u'concurrentlySchedulableTaskCount': 1,\n",
       "       u'defaultConcurrentTasks': {u'CRON_DRIVEN': u'1',\n",
       "        u'EVENT_DRIVEN': u'0',\n",
       "        u'TIMER_DRIVEN': u'1'},\n",
       "       u'defaultSchedulingPeriod': {u'CRON_DRIVEN': u'* * * * * ?',\n",
       "        u'TIMER_DRIVEN': u'0 sec'},\n",
       "       u'descriptors': {u'Block Size': {u'description': u'Size of each block as written to HDFS. This overrides the Hadoop Configuration',\n",
       "         u'displayName': u'Block Size',\n",
       "         u'dynamic': False,\n",
       "         u'name': u'Block Size',\n",
       "         u'required': False,\n",
       "         u'sensitive': False,\n",
       "         u'supportsEl': False},\n",
       "        u'Compression codec': {u'allowableValues': [{u'allowableValue': {u'displayName': u'NONE',\n",
       "            u'value': u'NONE'},\n",
       "           u'canRead': True},\n",
       "          {u'allowableValue': {u'displayName': u'DEFAULT',\n",
       "            u'value': u'DEFAULT'},\n",
       "           u'canRead': True},\n",
       "          {u'allowableValue': {u'displayName': u'BZIP', u'value': u'BZIP'},\n",
       "           u'canRead': True},\n",
       "          {u'allowableValue': {u'displayName': u'GZIP', u'value': u'GZIP'},\n",
       "           u'canRead': True},\n",
       "          {u'allowableValue': {u'displayName': u'LZ4', u'value': u'LZ4'},\n",
       "           u'canRead': True},\n",
       "          {u'allowableValue': {u'displayName': u'SNAPPY', u'value': u'SNAPPY'},\n",
       "           u'canRead': True},\n",
       "          {u'allowableValue': {u'displayName': u'AUTOMATIC',\n",
       "            u'value': u'AUTOMATIC'},\n",
       "           u'canRead': True}],\n",
       "         u'defaultValue': u'NONE',\n",
       "         u'description': u'',\n",
       "         u'displayName': u'Compression codec',\n",
       "         u'dynamic': False,\n",
       "         u'name': u'Compression codec',\n",
       "         u'required': True,\n",
       "         u'sensitive': False,\n",
       "         u'supportsEl': False},\n",
       "        u'Conflict Resolution Strategy': {u'allowableValues': [{u'allowableValue': {u'displayName': u'replace',\n",
       "            u'value': u'replace'},\n",
       "           u'canRead': True},\n",
       "          {u'allowableValue': {u'displayName': u'ignore', u'value': u'ignore'},\n",
       "           u'canRead': True},\n",
       "          {u'allowableValue': {u'displayName': u'fail', u'value': u'fail'},\n",
       "           u'canRead': True}],\n",
       "         u'defaultValue': u'fail',\n",
       "         u'description': u'Indicates what should happen when a file with the same name already exists in the output directory',\n",
       "         u'displayName': u'Conflict Resolution Strategy',\n",
       "         u'dynamic': False,\n",
       "         u'name': u'Conflict Resolution Strategy',\n",
       "         u'required': True,\n",
       "         u'sensitive': False,\n",
       "         u'supportsEl': False},\n",
       "        u'Directory': {u'description': u'The parent HDFS directory to which files should be written',\n",
       "         u'displayName': u'Directory',\n",
       "         u'dynamic': False,\n",
       "         u'name': u'Directory',\n",
       "         u'required': True,\n",
       "         u'sensitive': False,\n",
       "         u'supportsEl': True},\n",
       "        u'Hadoop Configuration Resources': {u'description': u\"A file or comma separated list of files which contains the Hadoop file system configuration. Without this, Hadoop will search the classpath for a 'core-site.xml' and 'hdfs-site.xml' file or will revert to a default configuration.\",\n",
       "         u'displayName': u'Hadoop Configuration Resources',\n",
       "         u'dynamic': False,\n",
       "         u'name': u'Hadoop Configuration Resources',\n",
       "         u'required': False,\n",
       "         u'sensitive': False,\n",
       "         u'supportsEl': False},\n",
       "        u'IO Buffer Size': {u'description': u'Amount of memory to use to buffer file contents during IO. This overrides the Hadoop Configuration',\n",
       "         u'displayName': u'IO Buffer Size',\n",
       "         u'dynamic': False,\n",
       "         u'name': u'IO Buffer Size',\n",
       "         u'required': False,\n",
       "         u'sensitive': False,\n",
       "         u'supportsEl': False},\n",
       "        u'Kerberos Keytab': {u'description': u'Kerberos keytab associated with the principal. Requires nifi.kerberos.krb5.file to be set in your nifi.properties',\n",
       "         u'displayName': u'Kerberos Keytab',\n",
       "         u'dynamic': False,\n",
       "         u'name': u'Kerberos Keytab',\n",
       "         u'required': False,\n",
       "         u'sensitive': False,\n",
       "         u'supportsEl': False},\n",
       "        u'Kerberos Principal': {u'description': u'Kerberos principal to authenticate as. Requires nifi.kerberos.krb5.file to be set in your nifi.properties',\n",
       "         u'displayName': u'Kerberos Principal',\n",
       "         u'dynamic': False,\n",
       "         u'name': u'Kerberos Principal',\n",
       "         u'required': False,\n",
       "         u'sensitive': False,\n",
       "         u'supportsEl': False},\n",
       "        u'Kerberos Relogin Period': {u'defaultValue': u'4 hours',\n",
       "         u'description': u'Period of time which should pass before attempting a kerberos relogin',\n",
       "         u'displayName': u'Kerberos Relogin Period',\n",
       "         u'dynamic': False,\n",
       "         u'name': u'Kerberos Relogin Period',\n",
       "         u'required': False,\n",
       "         u'sensitive': False,\n",
       "         u'supportsEl': False},\n",
       "        u'Permissions umask': {u'description': u'A umask represented as an octal number which determines the permissions of files written to HDFS. This overrides the Hadoop Configuration dfs.umaskmode',\n",
       "         u'displayName': u'Permissions umask',\n",
       "         u'dynamic': False,\n",
       "         u'name': u'Permissions umask',\n",
       "         u'required': False,\n",
       "         u'sensitive': False,\n",
       "         u'supportsEl': False},\n",
       "        u'Remote Group': {u'description': u'Changes the group of the HDFS file to this value after it is written. This only works if NiFi is running as a user that has HDFS super user privilege to change group',\n",
       "         u'displayName': u'Remote Group',\n",
       "         u'dynamic': False,\n",
       "         u'name': u'Remote Group',\n",
       "         u'required': False,\n",
       "         u'sensitive': False,\n",
       "         u'supportsEl': False},\n",
       "        u'Remote Owner': {u'description': u'Changes the owner of the HDFS file to this value after it is written. This only works if NiFi is running as a user that has HDFS super user privilege to change owner',\n",
       "         u'displayName': u'Remote Owner',\n",
       "         u'dynamic': False,\n",
       "         u'name': u'Remote Owner',\n",
       "         u'required': False,\n",
       "         u'sensitive': False,\n",
       "         u'supportsEl': False},\n",
       "        u'Replication': {u'description': u'Number of times that HDFS will replicate each file. This overrides the Hadoop Configuration',\n",
       "         u'displayName': u'Replication',\n",
       "         u'dynamic': False,\n",
       "         u'name': u'Replication',\n",
       "         u'required': False,\n",
       "         u'sensitive': False,\n",
       "         u'supportsEl': False}},\n",
       "       u'lossTolerant': False,\n",
       "       u'penaltyDuration': u'30 sec',\n",
       "       u'properties': {u'Block Size': None,\n",
       "        u'Compression codec': u'NONE',\n",
       "        u'Conflict Resolution Strategy': u'fail',\n",
       "        u'Directory': u'/nifi/output',\n",
       "        u'Hadoop Configuration Resources': None,\n",
       "        u'IO Buffer Size': None,\n",
       "        u'Kerberos Keytab': None,\n",
       "        u'Kerberos Principal': None,\n",
       "        u'Kerberos Relogin Period': u'4 hours',\n",
       "        u'Permissions umask': None,\n",
       "        u'Remote Group': None,\n",
       "        u'Remote Owner': None,\n",
       "        u'Replication': None},\n",
       "       u'runDurationMillis': 0,\n",
       "       u'schedulingPeriod': u'0 sec',\n",
       "       u'schedulingStrategy': u'TIMER_DRIVEN',\n",
       "       u'yieldDuration': u'1 sec'},\n",
       "      u'id': u'2b447525-0158-1000-1b05-4ea4387ecf29',\n",
       "      u'inputRequirement': u'INPUT_REQUIRED',\n",
       "      u'name': u'PutHDFS',\n",
       "      u'parentGroupId': u'2b3f0525-0158-1000-fe2d-3dddf435a35f',\n",
       "      u'persistsState': False,\n",
       "      u'position': {u'x': 955.0, u'y': 190.0},\n",
       "      u'relationships': [{u'autoTerminate': True,\n",
       "        u'description': u'Files that could not be written to HDFS for some reason are transferred to this relationship',\n",
       "        u'name': u'failure'},\n",
       "       {u'autoTerminate': True,\n",
       "        u'description': u'Files that have been successfully written to HDFS are transferred to this relationship',\n",
       "        u'name': u'success'}],\n",
       "      u'state': u'STOPPED',\n",
       "      u'style': {},\n",
       "      u'supportsBatching': False,\n",
       "      u'supportsEventDriven': False,\n",
       "      u'supportsParallelProcessing': True,\n",
       "      u'type': u'org.apache.nifi.processors.hadoop.PutHDFS'},\n",
       "     u'id': u'2b447525-0158-1000-1b05-4ea4387ecf29',\n",
       "     u'inputRequirement': u'INPUT_REQUIRED',\n",
       "     u'permissions': {u'canRead': True, u'canWrite': True},\n",
       "     u'position': {u'x': 955.0, u'y': 190.0},\n",
       "     u'revision': {u'clientId': u'2b3eb487-0158-1000-3705-3f5ce2641209',\n",
       "      u'version': 7},\n",
       "     u'status': {u'aggregateSnapshot': {u'activeThreadCount': 0,\n",
       "       u'bytesIn': 0,\n",
       "       u'bytesOut': 0,\n",
       "       u'bytesRead': 0,\n",
       "       u'bytesWritten': 0,\n",
       "       u'flowFilesIn': 0,\n",
       "       u'flowFilesOut': 0,\n",
       "       u'groupId': u'2b3f0525-0158-1000-fe2d-3dddf435a35f',\n",
       "       u'id': u'2b447525-0158-1000-1b05-4ea4387ecf29',\n",
       "       u'input': u'0 (0 bytes)',\n",
       "       u'name': u'PutHDFS',\n",
       "       u'output': u'0 (0 bytes)',\n",
       "       u'read': u'0 bytes',\n",
       "       u'runStatus': u'Stopped',\n",
       "       u'taskCount': 0,\n",
       "       u'tasks': u'0',\n",
       "       u'tasksDuration': u'00:00:00.000',\n",
       "       u'tasksDurationNanos': 0,\n",
       "       u'type': u'PutHDFS',\n",
       "       u'written': u'0 bytes'},\n",
       "      u'groupId': u'2b3f0525-0158-1000-fe2d-3dddf435a35f',\n",
       "      u'id': u'2b447525-0158-1000-1b05-4ea4387ecf29',\n",
       "      u'name': u'PutHDFS',\n",
       "      u'statsLastRefreshed': u'18:55:20 UTC'},\n",
       "     u'uri': u'http://sandbox.hortonworks.com:9090/nifi-api/processors/2b447525-0158-1000-1b05-4ea4387ecf29'},\n",
       "    {u'bulletins': [],\n",
       "     u'component': {u'config': {u'bulletinLevel': u'WARN',\n",
       "       u'comments': u'',\n",
       "       u'concurrentlySchedulableTaskCount': 1,\n",
       "       u'defaultConcurrentTasks': {u'CRON_DRIVEN': u'1',\n",
       "        u'EVENT_DRIVEN': u'0',\n",
       "        u'TIMER_DRIVEN': u'1'},\n",
       "       u'defaultSchedulingPeriod': {u'CRON_DRIVEN': u'* * * * * ?',\n",
       "        u'TIMER_DRIVEN': u'0 sec'},\n",
       "       u'descriptors': {u'Split Depth': {u'defaultValue': u'1',\n",
       "         u'description': u\"Indicates the XML-nesting depth to start splitting XML fragments. A depth of 1 means split the root's children, whereas a depth of 2 means split the root's children's children and so forth.\",\n",
       "         u'displayName': u'Split Depth',\n",
       "         u'dynamic': False,\n",
       "         u'name': u'Split Depth',\n",
       "         u'required': True,\n",
       "         u'sensitive': False,\n",
       "         u'supportsEl': False}},\n",
       "       u'lossTolerant': False,\n",
       "       u'penaltyDuration': u'30 sec',\n",
       "       u'properties': {u'Split Depth': u'1'},\n",
       "       u'runDurationMillis': 0,\n",
       "       u'schedulingPeriod': u'0 sec',\n",
       "       u'schedulingStrategy': u'TIMER_DRIVEN',\n",
       "       u'yieldDuration': u'1 sec'},\n",
       "      u'id': u'2b442646-0158-1000-2b97-6c6294fe4d79',\n",
       "      u'inputRequirement': u'INPUT_REQUIRED',\n",
       "      u'name': u'SplitXml',\n",
       "      u'parentGroupId': u'2b3f0525-0158-1000-fe2d-3dddf435a35f',\n",
       "      u'persistsState': False,\n",
       "      u'position': {u'x': 351.0, u'y': 588.0},\n",
       "      u'relationships': [{u'autoTerminate': True,\n",
       "        u'description': u'If a FlowFile fails processing for any reason (for example, the FlowFile is not valid XML), it will be routed to this relationship',\n",
       "        u'name': u'failure'},\n",
       "       {u'autoTerminate': True,\n",
       "        u'description': u'The original FlowFile that was split into segments. If the FlowFile fails processing, nothing will be sent to this relationship',\n",
       "        u'name': u'original'},\n",
       "       {u'autoTerminate': False,\n",
       "        u'description': u'All segments of the original FlowFile will be routed to this relationship',\n",
       "        u'name': u'split'}],\n",
       "      u'state': u'STOPPED',\n",
       "      u'style': {},\n",
       "      u'supportsBatching': True,\n",
       "      u'supportsEventDriven': True,\n",
       "      u'supportsParallelProcessing': True,\n",
       "      u'type': u'org.apache.nifi.processors.standard.SplitXml'},\n",
       "     u'id': u'2b442646-0158-1000-2b97-6c6294fe4d79',\n",
       "     u'inputRequirement': u'INPUT_REQUIRED',\n",
       "     u'permissions': {u'canRead': True, u'canWrite': True},\n",
       "     u'position': {u'x': 351.0, u'y': 588.0},\n",
       "     u'revision': {u'clientId': u'2b3eb487-0158-1000-3705-3f5ce2641209',\n",
       "      u'version': 6},\n",
       "     u'status': {u'aggregateSnapshot': {u'activeThreadCount': 0,\n",
       "       u'bytesIn': 0,\n",
       "       u'bytesOut': 0,\n",
       "       u'bytesRead': 0,\n",
       "       u'bytesWritten': 0,\n",
       "       u'flowFilesIn': 0,\n",
       "       u'flowFilesOut': 0,\n",
       "       u'groupId': u'2b3f0525-0158-1000-fe2d-3dddf435a35f',\n",
       "       u'id': u'2b442646-0158-1000-2b97-6c6294fe4d79',\n",
       "       u'input': u'0 (0 bytes)',\n",
       "       u'name': u'SplitXml',\n",
       "       u'output': u'0 (0 bytes)',\n",
       "       u'read': u'0 bytes',\n",
       "       u'runStatus': u'Stopped',\n",
       "       u'taskCount': 0,\n",
       "       u'tasks': u'0',\n",
       "       u'tasksDuration': u'00:00:00.000',\n",
       "       u'tasksDurationNanos': 0,\n",
       "       u'type': u'SplitXml',\n",
       "       u'written': u'0 bytes'},\n",
       "      u'groupId': u'2b3f0525-0158-1000-fe2d-3dddf435a35f',\n",
       "      u'id': u'2b442646-0158-1000-2b97-6c6294fe4d79',\n",
       "      u'name': u'SplitXml',\n",
       "      u'statsLastRefreshed': u'18:55:20 UTC'},\n",
       "     u'uri': u'http://sandbox.hortonworks.com:9090/nifi-api/processors/2b442646-0158-1000-2b97-6c6294fe4d79'},\n",
       "    {u'bulletins': [],\n",
       "     u'component': {u'config': {u'bulletinLevel': u'WARN',\n",
       "       u'comments': u'',\n",
       "       u'concurrentlySchedulableTaskCount': 1,\n",
       "       u'defaultConcurrentTasks': {u'CRON_DRIVEN': u'1',\n",
       "        u'EVENT_DRIVEN': u'0',\n",
       "        u'TIMER_DRIVEN': u'1'},\n",
       "       u'defaultSchedulingPeriod': {u'CRON_DRIVEN': u'* * * * * ?',\n",
       "        u'TIMER_DRIVEN': u'0 sec'},\n",
       "       u'descriptors': {u'Connection Timeout': {u'defaultValue': u'30 sec',\n",
       "         u'description': u'Amount of time to wait before timing out while creating a connection',\n",
       "         u'displayName': u'Connection Timeout',\n",
       "         u'dynamic': False,\n",
       "         u'name': u'Connection Timeout',\n",
       "         u'required': True,\n",
       "         u'sensitive': False,\n",
       "         u'supportsEl': False},\n",
       "        u'Data Timeout': {u'defaultValue': u'30 sec',\n",
       "         u'description': u'When transferring a file between the local and remote system, this value specifies how long is allowed to elapse without any data being transferred between systems',\n",
       "         u'displayName': u'Data Timeout',\n",
       "         u'dynamic': False,\n",
       "         u'name': u'Data Timeout',\n",
       "         u'required': True,\n",
       "         u'sensitive': False,\n",
       "         u'supportsEl': False},\n",
       "        u'Distributed Cache Service': {u'allowableValues': [],\n",
       "         u'description': u\"Specifies the Controller Service that should be used to maintain state about what has been pulled from the remote server so that if a new node begins pulling data, it won't duplicate all of the work that has been done. If not specified, the information will not be shared across the cluster. This property does not need to be set for standalone instances of NiFi but should be configured if NiFi is run within a cluster.\",\n",
       "         u'displayName': u'Distributed Cache Service',\n",
       "         u'dynamic': False,\n",
       "         u'identifiesControllerService': u'org.apache.nifi.distributed.cache.client.DistributedMapCacheClient',\n",
       "         u'name': u'Distributed Cache Service',\n",
       "         u'required': False,\n",
       "         u'sensitive': False,\n",
       "         u'supportsEl': False},\n",
       "        u'File Filter Regex': {u'description': u'Provides a Java Regular Expression for filtering Filenames; if a filter is supplied, only files whose names match that Regular Expression will be fetched',\n",
       "         u'displayName': u'File Filter Regex',\n",
       "         u'dynamic': False,\n",
       "         u'name': u'File Filter Regex',\n",
       "         u'required': False,\n",
       "         u'sensitive': False,\n",
       "         u'supportsEl': False},\n",
       "        u'Host Key File': {u'description': u'If supplied, the given file will be used as the Host Key; otherwise, no use host key file will be used',\n",
       "         u'displayName': u'Host Key File',\n",
       "         u'dynamic': False,\n",
       "         u'name': u'Host Key File',\n",
       "         u'required': False,\n",
       "         u'sensitive': False,\n",
       "         u'supportsEl': False},\n",
       "        u'Hostname': {u'description': u'The fully qualified hostname or IP address of the remote system',\n",
       "         u'displayName': u'Hostname',\n",
       "         u'dynamic': False,\n",
       "         u'name': u'Hostname',\n",
       "         u'required': True,\n",
       "         u'sensitive': False,\n",
       "         u'supportsEl': True},\n",
       "        u'Ignore Dotted Files': {u'allowableValues': [{u'allowableValue': {u'displayName': u'true',\n",
       "            u'value': u'true'},\n",
       "           u'canRead': True},\n",
       "          {u'allowableValue': {u'displayName': u'false', u'value': u'false'},\n",
       "           u'canRead': True}],\n",
       "         u'defaultValue': u'true',\n",
       "         u'description': u'If true, files whose names begin with a dot (\".\") will be ignored',\n",
       "         u'displayName': u'Ignore Dotted Files',\n",
       "         u'dynamic': False,\n",
       "         u'name': u'Ignore Dotted Files',\n",
       "         u'required': True,\n",
       "         u'sensitive': False,\n",
       "         u'supportsEl': False},\n",
       "        u'Password': {u'description': u'Password for the user account',\n",
       "         u'displayName': u'Password',\n",
       "         u'dynamic': False,\n",
       "         u'name': u'Password',\n",
       "         u'required': False,\n",
       "         u'sensitive': True,\n",
       "         u'supportsEl': False},\n",
       "        u'Path Filter Regex': {u'description': u'When Search Recursively is true, then only subdirectories whose path matches the given Regular Expression will be scanned',\n",
       "         u'displayName': u'Path Filter Regex',\n",
       "         u'dynamic': False,\n",
       "         u'name': u'Path Filter Regex',\n",
       "         u'required': False,\n",
       "         u'sensitive': False,\n",
       "         u'supportsEl': False},\n",
       "        u'Port': {u'defaultValue': u'22',\n",
       "         u'description': u'The port to connect to on the remote host to fetch the data from',\n",
       "         u'displayName': u'Port',\n",
       "         u'dynamic': False,\n",
       "         u'name': u'Port',\n",
       "         u'required': True,\n",
       "         u'sensitive': False,\n",
       "         u'supportsEl': True},\n",
       "        u'Private Key Passphrase': {u'description': u'Password for the private key',\n",
       "         u'displayName': u'Private Key Passphrase',\n",
       "         u'dynamic': False,\n",
       "         u'name': u'Private Key Passphrase',\n",
       "         u'required': False,\n",
       "         u'sensitive': True,\n",
       "         u'supportsEl': False},\n",
       "        u'Private Key Path': {u'description': u'The fully qualified path to the Private Key file',\n",
       "         u'displayName': u'Private Key Path',\n",
       "         u'dynamic': False,\n",
       "         u'name': u'Private Key Path',\n",
       "         u'required': False,\n",
       "         u'sensitive': False,\n",
       "         u'supportsEl': False},\n",
       "        u'Remote Path': {u'defaultValue': u'.',\n",
       "         u'description': u'The path on the remote system from which to pull or push files',\n",
       "         u'displayName': u'Remote Path',\n",
       "         u'dynamic': False,\n",
       "         u'name': u'Remote Path',\n",
       "         u'required': False,\n",
       "         u'sensitive': False,\n",
       "         u'supportsEl': True},\n",
       "        u'Search Recursively': {u'allowableValues': [{u'allowableValue': {u'displayName': u'true',\n",
       "            u'value': u'true'},\n",
       "           u'canRead': True},\n",
       "          {u'allowableValue': {u'displayName': u'false', u'value': u'false'},\n",
       "           u'canRead': True}],\n",
       "         u'defaultValue': u'false',\n",
       "         u'description': u'If true, will pull files from arbitrarily nested subdirectories; otherwise, will not traverse subdirectories',\n",
       "         u'displayName': u'Search Recursively',\n",
       "         u'dynamic': False,\n",
       "         u'name': u'Search Recursively',\n",
       "         u'required': True,\n",
       "         u'sensitive': False,\n",
       "         u'supportsEl': False},\n",
       "        u'Send Keep Alive On Timeout': {u'allowableValues': [{u'allowableValue': {u'displayName': u'true',\n",
       "            u'value': u'true'},\n",
       "           u'canRead': True},\n",
       "          {u'allowableValue': {u'displayName': u'false', u'value': u'false'},\n",
       "           u'canRead': True}],\n",
       "         u'defaultValue': u'true',\n",
       "         u'description': u'Indicates whether or not to send a single Keep Alive message when SSH socket times out',\n",
       "         u'displayName': u'Send Keep Alive On Timeout',\n",
       "         u'dynamic': False,\n",
       "         u'name': u'Send Keep Alive On Timeout',\n",
       "         u'required': True,\n",
       "         u'sensitive': False,\n",
       "         u'supportsEl': False},\n",
       "        u'Strict Host Key Checking': {u'allowableValues': [{u'allowableValue': {u'displayName': u'true',\n",
       "            u'value': u'true'},\n",
       "           u'canRead': True},\n",
       "          {u'allowableValue': {u'displayName': u'false', u'value': u'false'},\n",
       "           u'canRead': True}],\n",
       "         u'defaultValue': u'false',\n",
       "         u'description': u'Indicates whether or not strict enforcement of hosts keys should be applied',\n",
       "         u'displayName': u'Strict Host Key Checking',\n",
       "         u'dynamic': False,\n",
       "         u'name': u'Strict Host Key Checking',\n",
       "         u'required': True,\n",
       "         u'sensitive': False,\n",
       "         u'supportsEl': False},\n",
       "        u'Username': {u'description': u'Username',\n",
       "         u'displayName': u'Username',\n",
       "         u'dynamic': False,\n",
       "         u'name': u'Username',\n",
       "         u'required': True,\n",
       "         u'sensitive': False,\n",
       "         u'supportsEl': True}},\n",
       "       u'lossTolerant': False,\n",
       "       u'penaltyDuration': u'30 sec',\n",
       "       u'properties': {u'Connection Timeout': u'30 sec',\n",
       "        u'Data Timeout': u'30 sec',\n",
       "        u'Distributed Cache Service': None,\n",
       "        u'File Filter Regex': None,\n",
       "        u'Host Key File': None,\n",
       "        u'Hostname': u'192.168.235.135',\n",
       "        u'Ignore Dotted Files': u'true',\n",
       "        u'Password': u'********',\n",
       "        u'Path Filter Regex': None,\n",
       "        u'Port': u'22',\n",
       "        u'Private Key Passphrase': None,\n",
       "        u'Private Key Path': None,\n",
       "        u'Remote Path': u'/home/evan/nifi',\n",
       "        u'Search Recursively': u'false',\n",
       "        u'Send Keep Alive On Timeout': u'true',\n",
       "        u'Strict Host Key Checking': u'false',\n",
       "        u'Username': u'evan'},\n",
       "       u'runDurationMillis': 0,\n",
       "       u'schedulingPeriod': u'0 sec',\n",
       "       u'schedulingStrategy': u'TIMER_DRIVEN',\n",
       "       u'yieldDuration': u'1 sec'},\n",
       "      u'id': u'2b3ffbcf-0158-1000-ab42-2d1676264a9d',\n",
       "      u'inputRequirement': u'INPUT_FORBIDDEN',\n",
       "      u'name': u'ListSFTP',\n",
       "      u'parentGroupId': u'2b3f0525-0158-1000-fe2d-3dddf435a35f',\n",
       "      u'persistsState': True,\n",
       "      u'position': {u'x': 353.0, u'y': 32.0},\n",
       "      u'relationships': [{u'autoTerminate': False,\n",
       "        u'description': u'All FlowFiles that are received are routed to success',\n",
       "        u'name': u'success'}],\n",
       "      u'state': u'STOPPED',\n",
       "      u'style': {},\n",
       "      u'supportsBatching': False,\n",
       "      u'supportsEventDriven': False,\n",
       "      u'supportsParallelProcessing': False,\n",
       "      u'type': u'org.apache.nifi.processors.standard.ListSFTP'},\n",
       "     u'id': u'2b3ffbcf-0158-1000-ab42-2d1676264a9d',\n",
       "     u'inputRequirement': u'INPUT_FORBIDDEN',\n",
       "     u'permissions': {u'canRead': True, u'canWrite': True},\n",
       "     u'position': {u'x': 353.0, u'y': 32.0},\n",
       "     u'revision': {u'clientId': u'2b3eb487-0158-1000-3705-3f5ce2641209',\n",
       "      u'version': 5},\n",
       "     u'status': {u'aggregateSnapshot': {u'activeThreadCount': 0,\n",
       "       u'bytesIn': 0,\n",
       "       u'bytesOut': 0,\n",
       "       u'bytesRead': 0,\n",
       "       u'bytesWritten': 0,\n",
       "       u'flowFilesIn': 0,\n",
       "       u'flowFilesOut': 0,\n",
       "       u'groupId': u'2b3f0525-0158-1000-fe2d-3dddf435a35f',\n",
       "       u'id': u'2b3ffbcf-0158-1000-ab42-2d1676264a9d',\n",
       "       u'input': u'0 (0 bytes)',\n",
       "       u'name': u'ListSFTP',\n",
       "       u'output': u'0 (0 bytes)',\n",
       "       u'read': u'0 bytes',\n",
       "       u'runStatus': u'Stopped',\n",
       "       u'taskCount': 0,\n",
       "       u'tasks': u'0',\n",
       "       u'tasksDuration': u'00:00:00.000',\n",
       "       u'tasksDurationNanos': 0,\n",
       "       u'type': u'ListSFTP',\n",
       "       u'written': u'0 bytes'},\n",
       "      u'groupId': u'2b3f0525-0158-1000-fe2d-3dddf435a35f',\n",
       "      u'id': u'2b3ffbcf-0158-1000-ab42-2d1676264a9d',\n",
       "      u'name': u'ListSFTP',\n",
       "      u'statsLastRefreshed': u'18:55:20 UTC'},\n",
       "     u'uri': u'http://sandbox.hortonworks.com:9090/nifi-api/processors/2b3ffbcf-0158-1000-ab42-2d1676264a9d'},\n",
       "    {u'bulletins': [],\n",
       "     u'component': {u'config': {u'bulletinLevel': u'WARN',\n",
       "       u'comments': u'',\n",
       "       u'concurrentlySchedulableTaskCount': 1,\n",
       "       u'defaultConcurrentTasks': {u'CRON_DRIVEN': u'1',\n",
       "        u'EVENT_DRIVEN': u'0',\n",
       "        u'TIMER_DRIVEN': u'1'},\n",
       "       u'defaultSchedulingPeriod': {u'CRON_DRIVEN': u'* * * * * ?',\n",
       "        u'TIMER_DRIVEN': u'0 sec'},\n",
       "       u'descriptors': {u'Completion Strategy': {u'allowableValues': [{u'allowableValue': {u'description': u'Leave the file as-is',\n",
       "            u'displayName': u'None',\n",
       "            u'value': u'None'},\n",
       "           u'canRead': True},\n",
       "          {u'allowableValue': {u'description': u'Move the file to the directory specified by the <Move Destination Directory> property',\n",
       "            u'displayName': u'Move File',\n",
       "            u'value': u'Move File'},\n",
       "           u'canRead': True},\n",
       "          {u'allowableValue': {u'description': u'Deletes the original file from the remote system',\n",
       "            u'displayName': u'Delete File',\n",
       "            u'value': u'Delete File'},\n",
       "           u'canRead': True}],\n",
       "         u'defaultValue': u'None',\n",
       "         u'description': u'Specifies what to do with the original file on the server once it has been pulled into NiFi. If the Completion Strategy fails, a warning will be logged but the data will still be transferred.',\n",
       "         u'displayName': u'Completion Strategy',\n",
       "         u'dynamic': False,\n",
       "         u'name': u'Completion Strategy',\n",
       "         u'required': True,\n",
       "         u'sensitive': False,\n",
       "         u'supportsEl': False},\n",
       "        u'Connection Timeout': {u'defaultValue': u'30 sec',\n",
       "         u'description': u'Amount of time to wait before timing out while creating a connection',\n",
       "         u'displayName': u'Connection Timeout',\n",
       "         u'dynamic': False,\n",
       "         u'name': u'Connection Timeout',\n",
       "         u'required': True,\n",
       "         u'sensitive': False,\n",
       "         u'supportsEl': False},\n",
       "        u'Data Timeout': {u'defaultValue': u'30 sec',\n",
       "         u'description': u'When transferring a file between the local and remote system, this value specifies how long is allowed to elapse without any data being transferred between systems',\n",
       "         u'displayName': u'Data Timeout',\n",
       "         u'dynamic': False,\n",
       "         u'name': u'Data Timeout',\n",
       "         u'required': True,\n",
       "         u'sensitive': False,\n",
       "         u'supportsEl': False},\n",
       "        u'Host Key File': {u'description': u'If supplied, the given file will be used as the Host Key; otherwise, no use host key file will be used',\n",
       "         u'displayName': u'Host Key File',\n",
       "         u'dynamic': False,\n",
       "         u'name': u'Host Key File',\n",
       "         u'required': False,\n",
       "         u'sensitive': False,\n",
       "         u'supportsEl': False},\n",
       "        u'Hostname': {u'description': u'The fully-qualified hostname or IP address of the host to fetch the data from',\n",
       "         u'displayName': u'Hostname',\n",
       "         u'dynamic': False,\n",
       "         u'name': u'Hostname',\n",
       "         u'required': True,\n",
       "         u'sensitive': False,\n",
       "         u'supportsEl': True},\n",
       "        u'Move Destination Directory': {u'description': u'The directory on the remote server to the move the original file to once it has been ingested into NiFi. This property is ignored unless the Completion Strategy is set to \"Move File\". The specified directory must already exist onthe remote system, or the rename will fail.',\n",
       "         u'displayName': u'Move Destination Directory',\n",
       "         u'dynamic': False,\n",
       "         u'name': u'Move Destination Directory',\n",
       "         u'required': False,\n",
       "         u'sensitive': False,\n",
       "         u'supportsEl': True},\n",
       "        u'Password': {u'description': u'Password for the user account',\n",
       "         u'displayName': u'Password',\n",
       "         u'dynamic': False,\n",
       "         u'name': u'Password',\n",
       "         u'required': False,\n",
       "         u'sensitive': True,\n",
       "         u'supportsEl': False},\n",
       "        u'Port': {u'defaultValue': u'22',\n",
       "         u'description': u'The port to connect to on the remote host to fetch the data from',\n",
       "         u'displayName': u'Port',\n",
       "         u'dynamic': False,\n",
       "         u'name': u'Port',\n",
       "         u'required': True,\n",
       "         u'sensitive': False,\n",
       "         u'supportsEl': True},\n",
       "        u'Private Key Passphrase': {u'description': u'Password for the private key',\n",
       "         u'displayName': u'Private Key Passphrase',\n",
       "         u'dynamic': False,\n",
       "         u'name': u'Private Key Passphrase',\n",
       "         u'required': False,\n",
       "         u'sensitive': True,\n",
       "         u'supportsEl': False},\n",
       "        u'Private Key Path': {u'description': u'The fully qualified path to the Private Key file',\n",
       "         u'displayName': u'Private Key Path',\n",
       "         u'dynamic': False,\n",
       "         u'name': u'Private Key Path',\n",
       "         u'required': False,\n",
       "         u'sensitive': False,\n",
       "         u'supportsEl': False},\n",
       "        u'Remote File': {u'description': u'The fully qualified filename on the remote system',\n",
       "         u'displayName': u'Remote File',\n",
       "         u'dynamic': False,\n",
       "         u'name': u'Remote File',\n",
       "         u'required': True,\n",
       "         u'sensitive': False,\n",
       "         u'supportsEl': True},\n",
       "        u'Send Keep Alive On Timeout': {u'allowableValues': [{u'allowableValue': {u'displayName': u'true',\n",
       "            u'value': u'true'},\n",
       "           u'canRead': True},\n",
       "          {u'allowableValue': {u'displayName': u'false', u'value': u'false'},\n",
       "           u'canRead': True}],\n",
       "         u'defaultValue': u'true',\n",
       "         u'description': u'Indicates whether or not to send a single Keep Alive message when SSH socket times out',\n",
       "         u'displayName': u'Send Keep Alive On Timeout',\n",
       "         u'dynamic': False,\n",
       "         u'name': u'Send Keep Alive On Timeout',\n",
       "         u'required': True,\n",
       "         u'sensitive': False,\n",
       "         u'supportsEl': False},\n",
       "        u'Strict Host Key Checking': {u'allowableValues': [{u'allowableValue': {u'displayName': u'true',\n",
       "            u'value': u'true'},\n",
       "           u'canRead': True},\n",
       "          {u'allowableValue': {u'displayName': u'false', u'value': u'false'},\n",
       "           u'canRead': True}],\n",
       "         u'defaultValue': u'false',\n",
       "         u'description': u'Indicates whether or not strict enforcement of hosts keys should be applied',\n",
       "         u'displayName': u'Strict Host Key Checking',\n",
       "         u'dynamic': False,\n",
       "         u'name': u'Strict Host Key Checking',\n",
       "         u'required': True,\n",
       "         u'sensitive': False,\n",
       "         u'supportsEl': False},\n",
       "        u'Use Compression': {u'allowableValues': [{u'allowableValue': {u'displayName': u'true',\n",
       "            u'value': u'true'},\n",
       "           u'canRead': True},\n",
       "          {u'allowableValue': {u'displayName': u'false', u'value': u'false'},\n",
       "           u'canRead': True}],\n",
       "         u'defaultValue': u'false',\n",
       "         u'description': u'Indicates whether or not ZLIB compression should be used when transferring files',\n",
       "         u'displayName': u'Use Compression',\n",
       "         u'dynamic': False,\n",
       "         u'name': u'Use Compression',\n",
       "         u'required': True,\n",
       "         u'sensitive': False,\n",
       "         u'supportsEl': False},\n",
       "        u'Username': {u'description': u'Username',\n",
       "         u'displayName': u'Username',\n",
       "         u'dynamic': False,\n",
       "         u'name': u'Username',\n",
       "         u'required': True,\n",
       "         u'sensitive': False,\n",
       "         u'supportsEl': True}},\n",
       "       u'lossTolerant': False,\n",
       "       u'penaltyDuration': u'30 sec',\n",
       "       u'properties': {u'Completion Strategy': u'None',\n",
       "        u'Connection Timeout': u'30 sec',\n",
       "        u'Data Timeout': u'30 sec',\n",
       "        u'Host Key File': None,\n",
       "        u'Hostname': u'${sftp.remote.host}',\n",
       "        u'Move Destination Directory': None,\n",
       "        u'Password': u'********',\n",
       "        u'Port': u'22',\n",
       "        u'Private Key Passphrase': None,\n",
       "        u'Private Key Path': None,\n",
       "        u'Remote File': u'${path}/${filename}',\n",
       "        u'Send Keep Alive On Timeout': u'true',\n",
       "        u'Strict Host Key Checking': u'false',\n",
       "        u'Use Compression': u'false',\n",
       "        u'Username': u'${sftp.listing.user}'},\n",
       "       u'runDurationMillis': 0,\n",
       "       u'schedulingPeriod': u'0 sec',\n",
       "       u'schedulingStrategy': u'TIMER_DRIVEN',\n",
       "       u'yieldDuration': u'1 sec'},\n",
       "      u'id': u'2b41bf35-0158-1000-440a-ab9f0f8925b3',\n",
       "      u'inputRequirement': u'INPUT_REQUIRED',\n",
       "      u'name': u'FetchSFTP',\n",
       "      u'parentGroupId': u'2b3f0525-0158-1000-fe2d-3dddf435a35f',\n",
       "      u'persistsState': False,\n",
       "      u'position': {u'x': 353.0, u'y': 315.0},\n",
       "      u'relationships': [{u'autoTerminate': True,\n",
       "        u'description': u'Any FlowFile that could not be fetched from the remote server due to a communications failure will be transferred to this Relationship.',\n",
       "        u'name': u'comms.failure'},\n",
       "       {u'autoTerminate': True,\n",
       "        u'description': u\"Any FlowFile for which we receive a 'Not Found' message from the remote server will be transferred to this Relationship.\",\n",
       "        u'name': u'not.found'},\n",
       "       {u'autoTerminate': True,\n",
       "        u'description': u'Any FlowFile that could not be fetched from the remote server due to insufficient permissions will be transferred to this Relationship.',\n",
       "        u'name': u'permission.denied'},\n",
       "       {u'autoTerminate': False,\n",
       "        u'description': u'All FlowFiles that are received are routed to success',\n",
       "        u'name': u'success'}],\n",
       "      u'state': u'STOPPED',\n",
       "      u'style': {},\n",
       "      u'supportsBatching': False,\n",
       "      u'supportsEventDriven': False,\n",
       "      u'supportsParallelProcessing': True,\n",
       "      u'type': u'org.apache.nifi.processors.standard.FetchSFTP'},\n",
       "     u'id': u'2b41bf35-0158-1000-440a-ab9f0f8925b3',\n",
       "     u'inputRequirement': u'INPUT_REQUIRED',\n",
       "     u'permissions': {u'canRead': True, u'canWrite': True},\n",
       "     u'position': {u'x': 353.0, u'y': 315.0},\n",
       "     u'revision': {u'clientId': u'2b3eb487-0158-1000-3705-3f5ce2641209',\n",
       "      u'version': 6},\n",
       "     u'status': {u'aggregateSnapshot': {u'activeThreadCount': 0,\n",
       "       u'bytesIn': 0,\n",
       "       u'bytesOut': 0,\n",
       "       u'bytesRead': 0,\n",
       "       u'bytesWritten': 0,\n",
       "       u'flowFilesIn': 0,\n",
       "       u'flowFilesOut': 0,\n",
       "       u'groupId': u'2b3f0525-0158-1000-fe2d-3dddf435a35f',\n",
       "       u'id': u'2b41bf35-0158-1000-440a-ab9f0f8925b3',\n",
       "       u'input': u'0 (0 bytes)',\n",
       "       u'name': u'FetchSFTP',\n",
       "       u'output': u'0 (0 bytes)',\n",
       "       u'read': u'0 bytes',\n",
       "       u'runStatus': u'Stopped',\n",
       "       u'taskCount': 0,\n",
       "       u'tasks': u'0',\n",
       "       u'tasksDuration': u'00:00:00.000',\n",
       "       u'tasksDurationNanos': 0,\n",
       "       u'type': u'FetchSFTP',\n",
       "       u'written': u'0 bytes'},\n",
       "      u'groupId': u'2b3f0525-0158-1000-fe2d-3dddf435a35f',\n",
       "      u'id': u'2b41bf35-0158-1000-440a-ab9f0f8925b3',\n",
       "      u'name': u'FetchSFTP',\n",
       "      u'statsLastRefreshed': u'18:55:20 UTC'},\n",
       "     u'uri': u'http://sandbox.hortonworks.com:9090/nifi-api/processors/2b41bf35-0158-1000-440a-ab9f0f8925b3'}],\n",
       "   u'remoteProcessGroups': []},\n",
       "  u'id': u'2b3f0525-0158-1000-fe2d-3dddf435a35f',\n",
       "  u'lastRefreshed': u'18:55:20 UTC',\n",
       "  u'parentGroupId': u'7c84501d-d10c-407c-b9f3-1d80e38fe36a',\n",
       "  u'uri': u'http://sandbox.hortonworks.com:9090/nifi-api/flow/process-groups/2b3f0525-0158-1000-fe2d-3dddf435a35f'}}"
      ]
     },
     "execution_count": 80,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "r = requests.get(nifi_url + '/flow/process-groups/2b3f0525-0158-1000-fe2d-3dddf435a35f')\n",
    "dat = r.json()\n",
    "dat"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "#### Get revision id for updating"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 81,
   "metadata": {
    "collapsed": false
   },
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "{u'version': 0}\n"
     ]
    }
   ],
   "source": [
    "r = requests.get(nifi_url + '/controller/config')\n",
    "revision = r.json().get('revision')\n",
    "print revision"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "## update processor group"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 82,
   "metadata": {
    "collapsed": true
   },
   "outputs": [],
   "source": [
    "dat['revision'] = revision"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 83,
   "metadata": {
    "collapsed": false
   },
   "outputs": [
    {
     "data": {
      "text/plain": [
       "405"
      ]
     },
     "execution_count": 83,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "r = requests.put(nifi_url + '/process-groups/2b3f0525-0158-1000-fe2d-3dddf435a35f/processors', data=dat)\n",
    "r.status_code"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 84,
   "metadata": {
    "collapsed": false
   },
   "outputs": [
    {
     "data": {
      "text/plain": [
       "['revision', u'processGroupFlow', u'permissions']"
      ]
     },
     "execution_count": 84,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "dat.keys()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "metadata": {
    "collapsed": true
   },
   "outputs": [],
   "source": []
  }
 ],
 "metadata": {
  "anaconda-cloud": {},
  "kernelspec": {
   "display_name": "Python [conda root]",
   "language": "python",
   "name": "conda-root-py"
  },
  "language_info": {
   "codemirror_mode": {
    "name": "ipython",
    "version": 2
   },
   "file_extension": ".py",
   "mimetype": "text/x-python",
   "name": "python",
   "nbconvert_exporter": "python",
   "pygments_lexer": "ipython2",
   "version": "2.7.12"
  }
 },
 "nbformat": 4,
 "nbformat_minor": 1
}
